@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@font-face {
    font-family: Major Mono Display;
    src:local("MajorMonoDisplay-Regular.ttf");
}

body {
    font-family: 'Major Mono Display', monospace;
}
img {
    height: 20%;
    width: 20%;
    margin: 10px;
    border: 1px solid black;
}

.img-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.text-container {
    padding: 10px;
}

li{
    padding: 10px 50px;
}
